<template>
    <div>
        <h2>Home</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor repudiandae magnam nulla dicta expedita, vero odio quo impedit deleniti dignissimos.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor repudiandae magnam nulla dicta expedita, vero odio quo impedit deleniti dignissimos.</p>
    </div>
</template>

<script setup>

</script>

<style scoped>
    h2 {
        margin-bottom: 20px;
        font-size: 36px;
    }
    p {
        margin: 20px 0;
    }
</style>